.App {
  text-align: center;
}

body {
  background-image: url("https://cdn.tgdd.vn/hoi-dap/1370088/200-hinh-nen-powerpoint-anime-cuc-dang-yeu-dep-chat-luong-1-800x600.jpg");
  background-size: cover; /* Phủ toàn màn hình */
  background-repeat: no-repeat; /* Không lặp lại hình */
  background-position: center; /* Căn giữa */
  height: 100vh; /* Chiều cao toàn màn hình */
  margin: 0; /* Xóa khoảng cách mặc định */
}
.custom-title {
  color: #ff5733; /* Màu chữ */
  font-size: 3rem; /* Kích thước chữ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng */
  text-align: center; /* Căn giữa */
  font-family: "Arial", sans-serif; /* Font chữ */
  margin-top: 20px; /* Khoảng cách phía trên */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
